// Import Pure slider

@import "pure-slider";


// Needed styles for Pure slider

.slider-top {
  @include pure-slider-images(2, demo);
}

.slider-main {
  @include pure-slider-images(3, demo);
}

.slider-whatever {
  @include pure-slider-images(4, demo);
}


// Compass base reset

@import "compass/reset";


// Demo styles

.container {
  max-width: 900px;
  margin: 50px auto;
  width: 98%;
}

.small-slider-wrapper,
.medium-slider-wrapper,
.large-slider-wrapper {
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}
