// Slides mixin

@mixin pure-slider($slides, $time) {

  @for $i from 1 through $slides {

    $total-time: $time * $slides;

    > li:nth-child(#{$i}) {
      -webkit-animation: slider-#{$slides}-#{$i} #{$total-time} linear infinite;
      animation: slider-#{$slides}-#{$i} #{$total-time} linear infinite;
    }

    @at-root {

      @-webkit-keyframes slider-#{$slides}-#{$i} {

        @if $slides == 2 and $i == 1 {
          0%   { opacity: 1; }
          45%  { opacity: 1; }
          50%  { opacity: 0; }
          95%  { opacity: 0; }
          100% { opacity: 1; }
        }

        @if $slides == 2 and $i == 2 {
          0%   { opacity: 0; }
          45%  { opacity: 0; }
          50%  { opacity: 1; }
          95%  { opacity: 1; }
          100% { opacity: 0; }
        }

        // slides 3

        @if $slides == 3 and $i == 1 {
          0%   { opacity: 1; }
          25%  { opacity: 1; }
          30%  { opacity: 0; }
          95%  { opacity: 0; }
          100% { opacity: 1; }
        }

        @if $slides == 3 and $i == 2 {
          0%   { opacity: 0; }
          25%  { opacity: 0; }
          30%  { opacity: 1; }
          65%  { opacity: 1; }
          70%  { opacity: 0; }
          100% { opacity: 0; }
        }

        @if $slides == 3 and $i == 3 {
          0%   { opacity: 0; }
          25%  { opacity: 0; }
          65%  { opacity: 0; }
          70%  { opacity: 1; }
          95%  { opacity: 1; }
          100% { opacity: 0; }
        }

        // slides 4

        @if $slides == 4 and $i == 1 {
          0%   { opacity: 1; }
          20%  { opacity: 1; }
          25%  { opacity: 0; }
          95%  { opacity: 0; }
          100% { opacity: 1; }
        }

        @if $slides == 4  and $i == 2 {
          0%   { opacity: 0; }
          20%  { opacity: 0; }
          25%  { opacity: 1; }
          45%  { opacity: 1; }
          50%  { opacity: 0; }
          100% { opacity: 0; }
        }

        @if $slides == 4 and $i == 3 {
          0%   { opacity: 0; }
          45%  { opacity: 0; }
          50%  { opacity: 1; }
          70%  { opacity: 1; }
          75%  { opacity: 0; }
          100% { opacity: 0; }
        }

        @if $slides == 4 and $i == 4 {
          0%   { opacity: 0; }
          70%  { opacity: 0; }
          75%  { opacity: 1; }
          95%  { opacity: 1; }
          100% { opacity: 0; }
        }
      }

      @keyframes slider-#{$slides}-#{$i} {

        @if $slides == 2 and $i == 1 {
          0%   { opacity: 1; }
          45%  { opacity: 1; }
          50%  { opacity: 0; }
          95%  { opacity: 0; }
          100% { opacity: 1; }
        }

        @if $slides == 2 and $i == 2 {
          0%   { opacity: 0; }
          45%  { opacity: 0; }
          50%  { opacity: 1; }
          95%  { opacity: 1; }
          100% { opacity: 0; }
        }

        // slides 3

        @if $slides == 3 and $i == 1 {
          0%   { opacity: 1; }
          25%  { opacity: 1; }
          30%  { opacity: 0; }
          95%  { opacity: 0; }
          100% { opacity: 1; }
        }

        @if $slides == 3 and $i == 2 {
          0%   { opacity: 0; }
          25%  { opacity: 0; }
          30%  { opacity: 1; }
          65%  { opacity: 1; }
          70%  { opacity: 0; }
          100% { opacity: 0; }
        }

        @if $slides == 3 and $i == 3 {
          0%   { opacity: 0; }
          25%  { opacity: 0; }
          65%  { opacity: 0; }
          70%  { opacity: 1; }
          95%  { opacity: 1; }
          100% { opacity: 0; }
        }

        // slides 4

        @if $slides == 4 and $i == 1 {
          0%   { opacity: 1; }
          20%  { opacity: 1; }
          25%  { opacity: 0; }
          95%  { opacity: 0; }
          100% { opacity: 1; }
        }

        @if $slides == 4  and $i == 2 {
          0%   { opacity: 0; }
          20%  { opacity: 0; }
          25%  { opacity: 1; }
          45%  { opacity: 1; }
          50%  { opacity: 0; }
          100% { opacity: 0; }
        }

        @if $slides == 4 and $i == 3 {
          0%   { opacity: 0; }
          45%  { opacity: 0; }
          50%  { opacity: 1; }
          70%  { opacity: 1; }
          75%  { opacity: 0; }
          100% { opacity: 0; }
        }

        @if $slides == 4 and $i == 4 {
          0%   { opacity: 0; }
          70%  { opacity: 0; }
          75%  { opacity: 1; }
          95%  { opacity: 1; }
          100% { opacity: 0; }
        }
      }
    }
  }
}


// Slider images

@mixin pure-slider-images($slides, $image) {

  @for $i from 1 through $slides {

    > li:nth-child(#{$i}) {
      background: url(../images/#{$image}-#{$i}.jpg);
      background-size: cover;
    }
  }
}

.slider-2 {
  @include pure-slider(2, 5s);
}

.slider-3 {
  @include pure-slider(3, 5s);
}

.slider-4 {
  @include pure-slider(4, 5s);
}

.slider-2,
.slider-3,
.slider-4 {
  position: relative;
  width: 100%;
  height: 100%;

  > li {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}


// Slider wrapper sizes

.small-slider-wrapper,
.medium-slider-wrapper,
.large-slider-wrapper {
  width: 100%;
}

.small-slider-wrapper {
  max-width: 400px;
  height: 300px;
}

.medium-slider-wrapper {
  max-width: 600px;
  height: 400px;
}

.large-slider-wrapper {
  max-width: 800px;
  height: 500px;
}
